<div class="col-sm-12 col-md-12">
  <div class="col-sm-12 col-md-2" style="padding:0">
    <h6 style="text-align:left">Search for a Caterer</h6>
  </div>
  <%= search_form_for @search do |f| %>
  <div class="col-sm-12 col-md-10" style="padding:0">
    <div class="col-sm-12 col-md-6" style="padding:2px">
     <%= f.collection_select(:caterer_types_id_eq_any, CatererType.all, :id, :name, {:include_blank => "Caterer Types"}, {:class=>'form-control'}) %><br>
   </div>
   <div class="col-sm-12 col-md-6" style="padding:2px">
    <%= f.collection_select(:cuisine_types_id_eq_any, CuisineType.all, :id, :name, {:include_blank => "Cuisine Types"}, {:class=>'form-control'}) %>
    <br>
  </div>
  <div>
    <%= f.submit "Search", class: "btn btn-raised btn-block btn-material-red" %>
  </div>
</div>
<% end %>