<html>

<head>
   <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
</head>

<body>
   <h3>Hi <%= @merchant.registered_business_name %>,</h3>

   <h3>Congratulations! Your listing has been added!</h3>      
   <p>You can view your listing(s) <a href="http://www.halalfoodhunt.com/listings">here.</a>: 
      - - -
      <br><br><br>

      <h3>Maximising your Listing Page</h3>
      <p>If unverified;<br>
      Is your listing currently unverified? Have you submitted your verification documents yet?<br>
      Get your listing verified by submitting a copy of your MUIS Certificate / a copy of the business ownerʼs NRIC back and front, NEA or ACRA Certificate here.</p>
      - - -
      <br><br><br>

      <h3>If FAQ is incomplete;</h3>
      <p>Have you filled in your listingʼs FAQs yet?<br>
      Help customers to get to know you by completing your FAQs here.</p>
      - - -
      <br><br><br>

      <h3>If listing is complete;</h3>
      <p>Great work! Your listing is verified and equipped with the complete details for your customers to find out all they need to know about you. Your listing is all set to catch the eyes of our viewers!</p>
      - - -
      <br><br><br>
      
      <h3>Important Dates to Note</h3>
      <p>Please note the following dates for your Affiliate Merchant Subscription.</p><br>
      <p>Published Date:</p>
      <p>Expiry Date:</p> 

      <p>These dates will apply to all listings under your account if you have more than one listee.</p>

      <h3>Manage Your Listing</h3>
      <p>This account will allow you to:</p>
      <p>1. Add and edit the details of your listings</p>
      <p>2. Update your documents e.g. logo, halal certificate, etc.</p>
      <p>3. Offer periodical exclusive deals on your listings page</p>
      <p>4. Tell your customers that you offer a delivery option</p>

      <p>As an affiliate merchant withhalalfoodhunt.com,your listing will automatically receive a complimentary one-time exposure shout-out on our social platforms and newsletter subscribers.</p>

      <h3>Listing Charges</h3>
      <p>Please note that nearing the expiry date of your account, you will be prompted of the renewal charges by our administrator.</p>

      <h3>Corporate Newsletter</h3>
      <p>You will now be included in our corporate mailing list where we will be informing you of media outreach and publication opportunities on halalfoodhunt.com media channels. If you would like to be included in articles or in videos, please reply promptly when you receive them!</p>

      <h3>Be FRIENDS with halalfoodhunt.com
      <p>The FRIENDS with halalfoodhunt.com Rewards is a complimentary flexible and customer-friendly program that enables you to tap on discounts and exclusive deals to manage your crowd better and to reward your customers for their loyalty. Keep them coming back by offering a savings and other benefits to your customers, at your own comfort level, as and when you need them.</p>

      <h3>How does the program work?
      <p>Simply choose a reward to offer from 10%, 15% or 20% off the bill or customize your reward with our Exclusive Deals and set your own terms and conditions.</p>

      <h3>Are you ready to be a FRIEND? To participate, click here.</p>

      <p>For any further assistance with your online account, feel free to email us at hello@halalfoodhunt.com or call us at 68144923 between 9am to 5pm on weekdays.</p>

      <p>Thank you and we hope to be your effective media partner in business!</p>
      <p>Team Halalfoodhunt</p>
      
   </body>
   </html>