<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/merchant_sidebar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="padding:0;">
      <%= render 'layouts/topbar' %>
      <div class="col-md-10 col-md-offset-1" style="margin-bottom:20px;">
       <div class="col-xs-12 col-sm-12 col-md-12"><center><h4><strong>GET STARTED ON YOUR LISTINGS!</strong></h4>
        <p>The information you put in here will determine what your hungry customers will read about your place. Give them the right information to help them decide where to eat!</p><div>
        <div class="col-xs-12 col-sm-6 col-md-4"><h4>1.</h4><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/1.png" alt="step 1" class="img-circle">
          <center><h5><strong>Begin your journey here.</strong></h5>
            <% if @quota_warning.present? %>
            <button type="button" class="btn btn-danger disabled"><%= @quota_warning %></button>
            <% else %>
            <p><%= render 'form' %></p>
            <% end %>
          </center>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4"><h4>2.</h4><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/3.png" alt="step 1" class="img-circle"><center><h5><strong>Select the type of establishment.</strong></h5><p>Select your type of establishment to list your business.</p></center></div>
        <div class="col-xs-12 col-sm-6 col-md-4"><h4>3.</h4><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/2.png" alt="step 1" class="img-circle"><center><h5><strong>ADD A LISTING & PUBLISH!</strong></h5><p>You’re almost there!<br> Get your business seen by uploading a listing. Publish your listing so that customers can find you!</p></center>
        </div></div>
      </div>
    </div>
  </div>
</div>