<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @friends_reward.name %>
</p>

<%= link_to 'Edit', edit_friends_reward_path(@friends_rewards) %> |
<%= link_to 'Back', friends_reward_path %>
