<%= render 'layouts/header' %>
<div class="container-fluid friends-purchase">
  <div class="container container-table">
    <div class="row vertical-center-row">
      <div class="col-md-10 col-md-offset-1" style="padding:0px; box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22); background:rgba(255,255,255,1);">
        <div class="col-sm-12 col-md-4" style="padding:25px;">
          <p><center> <img class="img-responsive" src="http://friends.jumaiyah.com/wp-content/uploads/2017/04/friendscard_card-01.png" alt="Chania"></center></p>
        </p>
      </center>
    </div>
    <div class="col-sm-12 col-md-8" style="padding:25px; background:#ececec;">
     <p class="p-15"><b>Subscription</b></p>
     <p class="p-20"><b>FRIENDS Rewards Card</b></p>
     <h4>$18.00/Year</h4>
     <ul class="nav nav-pills">
      <li class="active"><a data-toggle="pill" href="#home">DESCRIPTION</a></li>
      <li><a data-toggle="pill" href="#menu1">TERMS OF USE</a></li>
    </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <br><p><b>DEAR HALAL FOODIES, EATERS OF HALAL FOOD, FRIENDS. YOU WILL BE REWARDED FOR CHOOSING HALAL.</b><br><br>
        We made this one with all our halal food hunters in mind. All merchants listed with halalfoodhunt.com are either halal-certified or Muslim-owned.<br><br>

        BE OUR FRIEND, FOR ONLY $18/YEAR.<br>
        Please fill in the registration form in the next step.<br><br>

        Note: Cards are issued out every Monday. If you do not receive your card within 2 weeks of placing your order, please alert us at friends@halalfoodhunt.com.</p>
      </div>
      <div id="menu1" class="tab-pane fade">
        <br><p><b>VALIDITY OF USE</b><br>
        • Card is valid for use at all affiliate merchants of halalfoodhunt.com that bear the “We reward FRIENDS of halalfoodhunt.com” decal, and/or those that are listed on the rewards page here.<br>
        • The FRIENDS Rewards membership card must be presented to affiliate merchants BEFORE payment in order for the cardholder to be eligible for associated rewards.<br>
        <br><b>VALIDITY DATE</b><br>
        • 1 year from the date of issue.<br>
        <br><b>PROCESSING LEADTIME</b><br>
• Applications without the compulsory information duly completed will not be processed.<br>
• Processing of the card will take 2‐4 weeks after payment is made.<br>
• Please call Membership Hotline at 6814 4923 or email to friends@halalfoodhunt.com immediately if you did not receive the card after 4 weeks.<br>
        </p>
      </div>
    </div>
    <% @friends_cards.each do |friends_card| %>
    <%= link_to new_registration_path(friends_card_id: friends_card.id), class: "ruby" do %>
    <center><button class="btn btn-block btn-primary">Proceed to register</button></center>
    <% end %>
    <% end %>
  </div>
</div>
</div>
</div>
