<div class="container-fluid" style="background:#ccc; height:100%;">
  <div class="container container-table">
    <div class="row vertical-center-row">
      <div class="col-xs-12 col-md-12" style="padding-left:0px; padding-right:0px; box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22); border-radius:15px; background: #d60013">
        <div class="col-xs-12 col-sm-6 col-md-4" style="padding:0; border-top-left-radius: 15px;">
            <div class ="col-md-12" style="padding:25px; background: #d60013; border-top-left-radius: 15px;">
                <h4 style="color:#fff;"><center>FRIENDS REWARDS CARDS</center></h4>
                <img class="img-responsive" src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/04/friendscard_card-01.png" alt="Chania">
                <h2 style="color:#fff;"><center>$18/Year</center></h2>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8" style="background:#fff; padding:25px;">
       <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
