<div class="container-fluid" style="background:#ccc; height:100%;">
  <div class="container container-table">
    <div class="row vertical-center-row">
      <div class="col-xs-12 col-md-12" style="padding-left:0px; padding-right:0px; box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22); border-radius:15px;">
        <div class="col-xs-12 col-sm-6 col-md-4" style="padding:0; border-top-left-radius: 15px;">
          <div class ="col-md-12" style="padding:25px; background: #d60013; border-top-left-radius: 15px;">
            <h4 style="color:#fff;"><center>FRIENDS REWARDS CARDS</center></h4>
            <img class="img-responsive" src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/04/friendscard_card-01.png" alt="Chania">
            <h2 style="color:#fff;"><center>$18/Year</center></h2><br><br><br><br><br><br><br><br><br><br>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8" style="background:rgba(255,255,255,0.6); padding:25px;">
         <h4>PAYMENT METHOD</h4>
         <hr>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <% if @friends_card.paypal == true %>
           <h5>PAYPAL</h5><p>You have selected paypal as the payment method. Please click on the button below to complete the purchase of your FRIENDS Card.</p><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
           <input type="hidden" name="cmd" value="_s-xclick">
           <input type="hidden" name="hosted_button_id" value="ZQ7K7RAKTNMVY">
           <input type="image" src="https://www.paypalobjects.com/en_GB/SG/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
           <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
         </form><% end %>
         <% if @friends_card.direct_bank_transfer == true %>
         <h4>Direct Bank Transfer</h4>
         <p>Hello Friend!<br><br>Thank you for your registration! The processing of your card will only begin after your payment is successfully received. Subsequently, your card will be mailed out to you within 2-4 weeks.</p><br><br>
         <h5>INSTRUCTIONS:</h5>
         <p>Please make an i-bank transfer to one of the following accounts<br> 
          1) OCBC 686190547001
          2) POSB 557082441 
          <br><br>
          Please use your name, or order number as the initials. Subsequently, please send a screenshot of the confirmation of the transfer as proof of payment to us via email at friends@halalfoodhunt.com.<br><br>
          Thank you!</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>