<% @class_types.each do |class_type| %>
<tr>
  <td class="col-md-9"><%= class_type.name %></td>
  <td class="col-md-1"><%= link_to edit_class_type_path(class_type), remote: true do %>
    <i class="fa fa-pencil" style="color:white"></i><% end %>
  </td>
  <td class="col-md-1"><%= link_to class_type, method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class="fa fa-trash-o" style="color:white"></i><% end %>
  </td>
</tr>
<% end %>