<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supplier_highlight.name %>
</p>

<%= link_to 'Edit', edit_supplier_highlight_path(@supplier_highlight) %> |
<%= link_to 'Back', supplier_highlights_path %>
