<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @open_or_close.name %>
</p>

<%= link_to 'Edit', edit_open_or_close_path(@open_or_close) %> |
<%= link_to 'Back', open_or_closes_path %>
