<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/merchant_sidebar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="padding:0;">
      <%= render 'layouts/topbar' %>
      <div class="col-md-10 col-md-offset-1" style="background:white; border:1px solid #ccc; padding:10px;">
        <center><h4>You have chosen to list under<strong> ecommer</strong>!</h4><p class="italic-font" style="font-weight:400;">E-commers are small businesses that typically only exist as social media accounts only. You may also have additional services that support your online business such as e.g. live stations for events or as a rover at a night bazaar.
        </p></center>
      </div>
      <div class="col-md-10 col-md-offset-1">
      <%= render 'form' %>
    </div>
  </div>
</div>
</div>