<section id="course-content">
  <section id="ruby">
    <section class="detailed-syllabus">
      <div class="wrapper-inside">
       <%= render 'form' %>
      </div>
    </section>
  </section>
</section>