<%= render 'layouts/friends_header' %>
<div class="container-fluid padding-0" style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;">
	<div class="container" style="margin-top:52px;">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<center>
				<div style="border-radius:25px; background:#df5b3e; width:25px; height:25px;">
					<h5 style="color:white; line-height:1.8;">1</h5>
					</div>
					<p>Sign Up</p>
			</center>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<center>
				<div style="border-radius:25px; background:#ccc; width:25px; height:25px;">
					<h5 style="line-height:1.8;">2</h5>
					</div>
					<p style="color:#ccc;">Payment Details</p>
			</center>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<center>
				<div style="border-radius:25px; background:#ccc; width:25px; height:25px;">
					<h5 style="line-height:1.8;">3</h5>
					</div>
					<p style="color:#ccc;">Transaction Complete</p>
			</center>
		</div>
	</div>
</div>
<div class="container">
  <section id="ruby">
    <section class="detailed-syllabus">
      <div class="wrapper-inside">
        <p>Please fill in these details for your friends card subscription.</p>
       <%= render 'form' %>
      </div>
    </section>
  </section>
</div>