<%= render "layouts/header" %>
<div class="container-fluid padding-0" style="background:#ccc; margin-top:53px;">
  <div class="container padding-35">
<h3>CHECKOUT</h3>
</div>
</div>
<br>
<div class="container">
  <section id="ruby">
    <section class="detailed-syllabus">
      <div class="wrapper-inside">
        <p>Please fill in these details for your friends card subscription.</p>
       <%= render 'form' %>
      </div>
    </section>
  </section>
</div>