<%= render 'layouts/header' %>
<div class='container'>
<h1>Editing Halalfoodhunt Seo</h1>

<%= render 'form' %>

<%= link_to 'Show', @halalfoodhunt_seo %> |
<%= link_to 'Back', halalfoodhunt_seos_path %>
</div>
