<p id="notice"><%= notice %></p>

<p>
  <strong>Meta description:</strong>
  <%= @halalfoodhunt_seo.meta_description %>
</p>

<%= link_to 'Edit', edit_halalfoodhunt_seo_path(@halalfoodhunt_seo) %> |
<%= link_to 'Back', halalfoodhunt_seos_path %>
