<div class="container-fluid">
 <video autoplay loop muted poster="screenshot.jpg" id="background">
   <source src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/01/230216-COLOR_FULL_CLIPCHAMP_keep_CLIPCHAMP_keep.mp4" type="video/mp4">
   </video>
   <div class="col-xs-12 col-md-6" style="margin: 50px 0 50px 0;">
     <h1 style="color: white;">The only card a halal foodie needs. Be rewarded for choosing halal.</h1>
     <p class="lead" style="color: white;">With the FRIENDS with halalfoodhunt.com Rewards Card, you will unlock discounts, savings and other benefits at more than 50 halal places in Singapore.</p>
     <a href="http://halalfoodhunt.com/friends/index.php/home-too/" class="btn btn-lg btn-primary" role="button">Get FRIENDS Card Now!</a>
   </div>
   <div class="col-xs-12 col-md-6" style="margin: 50px 0 50px 0;"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/01/card.png" class="img-responsive" alt="Responsive image"></center></div>
 </div>
 <div class="container-fluid">
   <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-4" style="height:250px; background-color: #ffffff; padding: 35px;"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/signs.png" alt="" style="wdith:64px;height:64px">
       <h1>56</h1><p class="lead">Verified Halal Places in Singapore to enjoy discounts</p></center></div>
       <div class="col-xs-12 col-sm-12 col-md-4" style="height:250px; background-color: #ffffff; padding: 35px;"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/men-shaking-hands.png" alt="" style="wdith:64px;height:64px">
         <h1>421</h1><p class="lead">Current FRIENDS with halalfoodhunt.com Cardholders</p></center></div>
         <div class="col-xs-12 col-sm-12 col-md-4" style="height:250px; background-color: #ffffff; padding: 35px;"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/shop.png" alt="" style="wdith:64px;height:64px">
           <h1>6</h1><p class="lead">Places to walk-in and get your card</p></center></div>
           <div class="container-fluid">
             <div class="row">
               <div class="col-xs-12 col-md-12" style="height:600px; background-color: #ececec;"><center><h1>WHERE TO ENJOY THE CARD</h1>
                 <h4>Enjoy discounts at all these places!</h4><br>
                </center>
                 <div class="col-md-10 col-md-offset-1">
                  <div class="scroller">
                    <%= render "places/friends" %>
                  </div>
                  <center>
                   <%= link_to "View more friends rewards", pages_friends_path, :class => "h6 btn btn-lg btn-danger" %>
                 </center><br>
                 <center><a href="http://sg.halalfoodhunt.com/pages/friends_rewards" class="btn btn-lg btn-primary" role="button">Get FRIENDS Card Now!</a></center><br>
               </div>
             </div>
             <div class="container-fluid">
               <div class="row">
                 <div class="col-xs-12 col-md-12" style="background-color: #f2f2f2; padding: 25px;"><center><h1>WHERE TO GET YOUR CARDS</h1></div>
                 <div class="col-xs-12 col-sm-12 col-md-12" style="background-color: #f2f2f2;"><center><h4>1. Online</h4><br>
                   <img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/iMAc.png" class="img-responsive" alt="Responsive image"><br>
                   <a href="http://halalfoodhunt.com/friends/index.php/home-too/" class="btn btn-lg btn-primary" role="button">Order Now!</a>
                   </center><br></div>
                 </div>
               </div>
               <div class="container-fluid">
                <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-12" style="background-color: #ececec; padding: 20px;">
                  <center><h4>2. Places for you to get your card</h4></center>
                  <div class="col-xs-12 col-sm-4 col-md-2" style="background-color: #ececec; padding: 25px;">
                   <img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/01/images.png" class="img-responsive" alt="Responsive image"><br>
                   Central<br>
                   <h4>Kaw Kaw SG By Makan State</h4><br>
                   28 Aliwal St, S(199918)<br>
                   Opening hours:<br>
                   Sunday – Thursday:<br>
                   12pm to 9.30pm<br>
                   Friday: 3pm to 10.30pm<br>
                   Saturday: 12pm to 10.30pm<br></div>
                   <div class="col-xs-12 col-sm-4 col-md-2" style="background-color: #ececec; padding: 25px;">
                    <img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/01/Yolkalicious-06.png" class="img-responsive" alt="Responsive image"><br>
                    West<br>
                    <h4>Yolkalicious</h4><br>
                    Bukit Panjang, SG<br>
                    IG: @yolkalicious<br>
                    By appointment Only<br>
                    Contact: +65 91126662<br>
                    yolkalicious.sg@gmail.com<br></div>
                    <div class="col-xs-12 col-sm-4 col-md-2" style="background-color: #ececec; padding: 25px;">
                     <img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/01/unnamed.png" class="img-responsive" alt="Responsive image"><br>
                     East<br>
                     <h4>As- Souq Academy</h4><br>
                     Telok Kurau, SG<br>
                     55 Lorong L Telok Kurau Road<br>
                     #03-69 Bright Centre, S(425500)<br>
                     Opening hours: 12:30–8:30PM<br>
                   </div>
                   <div class="col-xs-12 col-sm-4 col-md-2" style="background-color: #ececec; padding: 25px;">
                    <img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/01/tbob_corner_logo_square-jpg_182102_medium.png" class="img-responsive" alt="Responsive image"><br>
                    East<br>
                    <h4>T Bob’s Corner</h4><br>
                    527 Bedok North St 3<br>
                    #01-514, S(460527)<br>
                    Opening hours:<br>
                    Mon: CLOSED<br>
                    Tues – Thurs: 12:00PM – 10:00PM<br>
                    Fri: 03:00PM – 11:00PM<br>
                    Sat: 12:00PM – 11:00PM<br>
                    Sun: 12:00PM – 09:00PM<br>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-2" style="background-color: #ececec; padding: 25px;">
                   <img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/01/JulieBakes_Pink_New-e1463074805327.png" class="img-responsive" alt="Responsive image"><br>
                   Central<br>
                   <h4>Julie Bakes</h4><br>
                   14 Baghdad Street, 199653<br>
                   Opening hours:<br>
                   Tuesdays  to Sundays<br>
                   12:00PM – 09:00PM<br>
                 </div>
                 <div class="col-xs-12 col-sm-4 col-md-2" style="background-color: #ececec; padding: 25px;">
                  <img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/01/kraft.png" class="img-responsive" alt="Responsive image"><br>
                  North-East<br>
                  <h4>Kitchen Kraft SG</h4><br>
                  Anchorvale, SG<br>
                  IG: @kitchenkraft.sg<br>
                  By appointment Only.<br>
                  Contact: +65 97570317<br>
                  kitchenkraft.sg@gmail.com<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
 <div class="row">
  <div class="col-xs-12 col-md-12" style="background-color: #22211d; padding: 25px;"><button type="button" class="btn btn-primary btn-lg btn-block"><a href="http://halalfoodhunt.com/friends/index.php/home-too/">Get my FRIENDS Card at $18/year now!</a></button></div>
</div>
</div>
<div class="container-fluid">
 <div class="row">
   <div class="col-xs-12 col-sm-12 col-md-12" style="padding: 25px; background-image:url(http://halalfoodhunt.com/friends/wp-content/uploads/2017/01/332.jpg); background-size: cover;">
     <center><h1>TESTIMONIALS</h1>
      <div class="col-xs-12 col-sm-4 col-md-4" style="padding: 25px;">
       <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:450px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BOTnpYnhVIf/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">This friends card by @halalfoodhunt is really reallly useful! With many merchants listed, you can enjoy discounts from 10% and above off your bill. I&#39;ve been using this card for two days in a row at Chulop and Casuarina Curry. You can head over to their IG to check out how to apply the card.</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by N I S A R A H M A D H O (@nisarahmadho) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-12-22T04:47:46+00:00">Dec 21, 2016 at 8:47pm PST</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
     </div>
     <div class="col-xs-12 col-sm-4 col-md-4" style="padding: 25px;">
       <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:450px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BLyN8mShCPU/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">#FRIENDSwithHalalFoodHunt // Bugis is the land of cafes and Muslim whereabouts, so I got myself a card so that I can go to these places more! Places like KawKawSG or Fika or Juliebakes will be the death of me with this card in my possession. 😂 #herestofood #cafehoppingisexpensivebutiloveit #supportlocalsg #supporthalal #halallife #blessed #morecardstofillmywallet #ig_sg #singapore #asia</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by N. Alyssha &#39;Alleycat&#39; Nasron (@alyyiskiwi) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-10-20T12:25:29+00:00">Oct 20, 2016 at 5:25am PDT</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
     </div>
     <div class="col-xs-12 col-sm-4 col-md-4" style="padding: 25px;">
       <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:450px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:62.4537037037037% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BNesfLzh9OS/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Whoop Whoop ☺️ #worthwaiting #friendswithhalalfoodhunt</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by Hanisah Sahari (@haannisss) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-12-01T15:30:19+00:00">Dec 1, 2016 at 7:30am PST</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
     </div>
   </center>
 </div>
</div>
</div>
</div>
</div>
</div>
</div>
<script>
$('.rotate-btn').on('click', function(){
  $(this).closest('.card-rotating.effect__click').toggleClass('flipped');
});
</script>