<%= render 'layouts/header' %>
<div class="container-fluid" style="height:550px">
    <div class="row">
        <div class="col-s-12 col-xs-12 col-md-12" id="merchant-front"><br><br><br><br>
            <center><h1><font color="white" id="text-shadow">MAKING HALAL EASY FOR MUSLIMS</h1>
                <p><i>New the her nor case that lady paid read. Invitation friendship travelling eat everything the out two.<br>
                    Shy you who scarcely expenses debating hastened resolved.</i></p></font><br>
                    <button type="button" class="btn btn-danger">Subscribe now for free!</button><br></center></div><br><br><br>
                </div>
            </div>
            
            <div class="container-fluid">
             <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-3" style="height:150px; background-color: #F9F9F9; padding: 35px;"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/restaurant-1.png" alt="" style="wdith:64px;height:64px">
                 <p class="lead">DISPLAY THE BEST OF YOUR MENU</p></center></div>
                 <div class="col-xs-12 col-sm-12 col-md-3" style="height:150px; background-color: #F9F9F9; padding: 35px;"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/men-shaking-hands.png" alt="" style="wdith:64px;height:64px">
                   <p class="lead">PARTNER WITH US FOR MARKETING FEATURES</p></center></div>
                   <div class="col-xs-12 col-sm-12 col-md-3" style="height:150px; background-color: #F9F9F9; padding: 35px;"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/medal.png" alt="" style="wdith:64px;height:64px">
                     <p class="lead">TAP ON FRIENDS REWARDS CARD</p></center></div>
                     <div class="col-xs-12 col-sm-12 col-md-3" style="height:150px; background-color: #F9F9F9; padding: 35px;"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/multimedia.png" alt="" style="wdith:64px;height:64px">
                         <p class="lead">ONE STOP DIGITAL MARKETING</p></center></div>
                         <div class="col-xs-12 col-sm-12 col-md-12" style="height:80px; background-color: #F9F9F9; padding: 35px;"><center>
                         <button type="button" class="btn btn-danger">Subscribe now for free!</button><br></div>
                         </div></div></div>
                     </div>
                 </div>
             </div>

 <div class="container-fluid" style="background-color:#ffffff">
                 <div class="row">
             <div class="col-s-12 col-xs-12 col-md-12" style="height:100px"; >
                <center><h1>WHAT IS HALALFOODHUNT?</h1></center>
            </div>

            <div class="col-s-6 col-xs-12 col-md-12" style="height:450px";>
                <center>
                    <div style=""><iframe src="https://www.youtube.com/embed/Zuvm3zfCc4s?ecver=2" width="620" height="350" frameborder="0" style="" allowfullscreen></iframe></center></div>
                </div></div></div>

 <div class="container-fluid">
   <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-6" style="height:450px; background-color: #f8f8f8; padding: 35px;"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/WEB-MOBILE-CODE.png"  alt="">
      </div>
       <div class="col-xs-12 col-sm-12 col-md-6" style="height:450px; background-color: #f8f8f8; padding: 35px;">
         <h1>HOW IT WORKS?</h1>
  <div class="list-group">
  <button type="button" class="list-group-item" style="height: 60px"><h5 style="margin-top: 0px">1. Create an account</h5></button>
  <button type="button" class="list-group-item" style="height: 60px"><h5 style="margin-top: 0px">2. Choose a Category that best fits your business</h5></button>
  <button type="button" class="list-group-item" style="height: 60px"><h5 style="margin-top: 0px">3. Create your listing!</h5></button>
  <button type="button" class="list-group-item" style="height: 60px"><h5 style="margin-top: 0px">4. Offer a reward for our Friends!</h5></button>
  <button type="button" class="list-group-item" style="height: 60px"><h5 style="margin-top: 0px">5. Be sure to have interesting answers in the QnA section to catch our editor’s attention for our next publication!</h5></button>
</div>
  <button type="button" class="btn btn-danger">Subscribe now for free!</button><br>
                               </div>
                            

<div class="container-fluid">
   <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" style="background-color: #ffffff;"><center><h1>WHAT FRIENDS SAY</h1></center></div>
     <div class="col-xs-12 col-sm-12 col-md-4" style="height:250px; background-color: #ffffff; padding: 35px;"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/eating-1.png" alt="" style="wdith:64px;height:64px">
       <h1>68,000</h1><p class="lead">VISITS BY FOODIES</p></center></div>
       <div class="col-xs-12 col-sm-12 col-md-4" style="height:250px; background-color: #ffffff; padding: 35px;"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/instagram-logo-1.png" alt="" style="wdith:64px;height:64px">
         <h1>68,000</h1><p class="lead">INSTAGRAM</p></center></div>
         <div class="col-xs-12 col-sm-12 col-md-4" style="height:250px; background-color: #ffffff; padding: 35px;"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/social.png" alt="" style="wdith:64px;height:64px">
           <h1>68,000</h1><p class="lead">REACH MONTHLY ON SOCIAL MEDIA</p></center></div>
            
   <div class="container-fluid" style="background:#fff;">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h4 style="font-weight:500;">AS FEATURED ON:</h4>
      <center>
       <a href="https://suaramagazine.files.wordpress.com/2016/09/suara-sep-oct161.pdf"><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/suara-logo.png" class="img-responsive color_flip" alt="Responsive image"></a>
       <a href="http://www.sassysingapore.com/5-halalfoodhunted-spots-to-break-fast-at-this-ramadan/"><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/Screen-Shot-2016-11-09-at-2.02.18-PM.png" class="img-responsive color_flip" alt="Responsive image"></a>
       <a href="http://themiddleground.sg/2016/09/04/online-food-and-travel-sites-fill-niche-in-halal-food-biz/"><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/logo.jpg" class="img-responsive color_flip" alt="Responsive image"></a>
       <a href="http://berita.mediacorp.sg/mobilem/singapore/haron-satay-dinobat-satay-masters/3229054.html"><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/imgres.jpg" class="img-responsive color_flip" alt="Responsive image"></a>
       <a href="https://drive.google.com/file/d/0B4JZy9TCnGZFU0V6alN0cGpEdGs/view"><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/Gaya-Magazine-logo.png" class="img-responsive color_flip" alt="Responsive image"></a>
       <a href="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmanjamagazine%2Fposts%2F1178084435574270%3A0&width=500"><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/13332760_1078270675555647_1643690128616525447_n.jpg" class="img-responsive color_flip" alt="Responsive image"></a>
       <a href="https://vulcanpost.com/308221/last-minute-guide-hari-raya/"><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/13112-logo1.jpg" class="img-responsive color_flip" alt="Responsive image"></a>
       <a href="#"><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/bh-langgan-1.png" class="img-responsive color_flip" alt="Responsive image"></a>
       <a href="#"><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/logo-tnp_0.png" class="img-responsive color_flip" alt="Responsive image"></a>
   </div></center></div>
 <div class="container-fluid" style="background:#f8f3f0;">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h4 style="font-weight:500;">WE HAVE WORKED WITH:</h4>
      <center>
       <img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/chope-logo.png" class="img-responsive color_flip" alt="Responsive image">
       <img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/cropped-THFB_Logo-fa-05-1-1.png" class="img-responsive color_flip" alt="Responsive image">
       <img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/THEater.png" class="img-responsive color_flip" alt="Responsive image">
       <img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/safinah_halal_advisory_logo_720.png" class="img-responsive color_flip" alt="Responsive image">
       <img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/AisarAqid_logoCol.png" class="img-responsive color_flip" alt="Responsive image">
       <img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/SATIRE-LOGO-WIP-TRANSPARENT-WHITE-copy150.png" class="img-responsive color_flip" alt="Responsive image">
       <a href="https://www.hometeamns.sg/"><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/HomeTeamNS_Brand-Signature-e1487058175805.png" class="img-responsive color_flip" alt="Responsive image"></a>
       <a href="http://irblaw.com.sg/"><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/IMG-20160823-WA0007-e1487058006326.png" class="img-responsive color_flip" alt="Responsive image"></a>
   </div></div></center>
   
<div class="container-fluid">
    <div class="row">
        <div class="col-s-12 col-xs-12 col-md-12" id="merchant-bottom"><br>
        <center><h1><font color="white">SIGN UP FOR FREE</h1></center>
      </div></div>
      
<div class="container-fluid">
   <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-4" style="height:150px; padding: 35px;">
       <h4 style="font-weight:500"><font color="#22211d";>NEED ASSISTANCE?</font></h4></div>
        <div class="col-xs-12 col-sm-12 col-md-4" style="height:150px; padding: 35px;"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/telephone.png"><br><b><font color="#22211d";>9626 5757</font></b></center><br></div>
         <div class="col-xs-12 col-sm-12 col-md-4" style="height:150px; padding: 35px;"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/opened-email-envelope.png"><br><b><font color="#22211d";>hello@halalfoodhunt.com</font></b></center><br></div>
        </div>
    </div>
    