<%= render 'layouts/header' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6" style="height:450px; background-color: #ffffff; padding: 35px; font-weight:900;">
      <h1 style="font-weight:900;">Show us the best that you have to offer!</h1><br>
      <p class="lead">Display the best of your menu or the insta-worthy location you have so and get viewership from our halal food hunters who are ready to eat!</p><br><p><a href="http://sg.halalfoodhunt.com/merchants/sign_up" class="btn btn-primary" role="button">Be A Merchant With Us!</a></p>
    </div>
    <div class="col-xs-12 col-md-6" style="height:450px; background-color: #ee6e48; padding: 35px;"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/01/kawkaw.png" class="img-responsive" alt="Responsive image" style="width:290px; height:330px"></center>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-xs-12 col-md-6 col-sm-12" style="height:450px; background-color: #faf2f0; padding: 20px;"><h1 style="border-bottom: 3px solid #eb704b; font-weight:900;">Benefit</h1>
      <h1>We’re an active marketing partner for our merchants</h1>
      <p class="lead">From national movements for you to participate or events and collaborations that we organise, you’ll get marketing ideas straight to your inbox for that extra online viewership!</p><br>
      <p><a href="http://sg.halalfoodhunt.com/merchants/sign_up" class="btn btn-primary" role="button">Be A Merchant With Us!</a></p>
    </div>
    <div class="col-xs-12 col-md-6 col-sm-12" style="height:450px; background-color: #faf2f0; padding: 20px"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/WEB-CODE.png" class="img-responsive" alt="Responsive image"></center></div>
  </div>
</div>
<div class="container-fluid">
  <div class="col-xs-12 col-md-6 col-sm-12" style="height:400px; background-color: #ffffff; padding: 20px;"><h1 style="border-bottom: 3px solid #eb704b; font-weight:900;">Benefit</h1>
    <h1 style="font-weight:900;">Tap on our FRIENDS Rewards Membership Card!</h1>
    <p class="lead">Our friends look for halal places that make them feel special, and you can do just that! Once you’re listed, offer our Friends a reward for visiting you to get their attention!</p><br>
    <p><a href="http://sg.halalfoodhunt.com/pages/friends_rewards" class="btn btn-primary" role="button">See All Rewards</a>
    </div>
    <div class="col-xs-12 col-md-6 col-sm-12" style="height:400px; background-color: #ffffff; padding: 20px"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/FRIENDSCARD-CODE.png" class="img-responsive" alt="Responsive image"></center></div>
  </div>
</div>
<div class="container-fluid">
  <div class="col-xs-12 col-md-6 col-sm-12" style="height:450px; background-color: #faf2f0; padding: 20px;"><h1 style="border-bottom: 3px solid #eb704b; font-weight:900;">Benefit</h1>
    <h1 style="font-weight:900;">Your one stop contact – point for your Digital Marketing Needs!</h1>
    <p class="lead">Your online image often forms the first impression that your customers have of you. From great photos, to videos to websites, we can hook you up!</p><br>
    <p><a href="http://www.mediaunderwraps.com/" class="btn btn-primary" role="button">View Portfolio</a></p>
  </div>
  <div class="col-xs-12 col-md-6 col-sm-12" style="height:450px; background-color: #faf2f0; padding: 20px"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/FRAME-CODE.png" class="img-responsive" alt="Responsive image"></center>
  </div>
</div>
<div class="container-fluid">
  <div class="col-xs-12 col-md-6 col-sm-12" style="height:450px; background-color: #ffffff; padding: 20px;"><h1 style="border-bottom: 3px solid #eb704b; font-weight:900;">Benefit</h1>
    <h1 style="font-weight:900;">Be featured on our social media channels!</h1>
      <p class="lead">Our media team is always looking for the interesting stories to feature on our social media channels – so list with us and be in our radar for our publication!</p><br>
      <p><a href="https://www.instagram.com/halalfoodhunt/?hl=en" class="btn btn-primary" role="button">View Portfolio</a></p>
    </div>
    <div class="col-xs-12 col-md-6 col-sm-12" style="height:450px; background-color: #ffffff; padding: 20px"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/01/smaller-phone.png" class="img-responsive" alt="Responsive image"></center></div>
  </div>
</div>
<div class="container-fluid">
  <div class="col-xs-12 col-md-6 col-sm-12" style="height:400px; background-color: #faf2f0; padding: 20px"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/WEB-MOBILE-CODE.png" class="img-responsive" alt="Responsive image"></center>
  </div>
  <div class="col-xs-12 col-md-6 col-sm-12" style="height:400px; background-color: #faf2f0; padding: 20px;">
    <h1 style="border-bottom:3px solid #eb704b; font-weight:900;">How It Works</h1>
    <p class="lead">
      <li class="lead">Create an account</li>
      <li class="lead">Choose a Category that best fits your business</li>
      <li class="lead">Create your listing!</li>
      <li class="lead">Offer a reward for our Friends!</li>
      <li class="lead">Be sure to have interesting answers in the QnA section to catch our editor’s attention for our next publication!</li>
    </p>
    <a href="http://sg.halalfoodhunt.com/merchants/sign_up" class="btn btn-primary" role="button">Subscribe Now!</a>
  </div>
</div>
