<div class="container">
    <center>
    <h1>Site under Maintenance</h1>
    <p>Halalfoodhunt.com is undergoing our monthly maintenance and upgrade. Please be patient with us. We'll be back shortly. Sorry for the inconvenience caused. <br><br> For more enquiries, you may contact us at hello@halalfoodhunt.com. </p>
    </center>
</div>