  <div class="container-fluid">
   <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12" style="height: 150px; background-color: #ececec; padding: 30px;">
       <h3><center><font color="#cc3333">FRIENDS Rewards Card - Terms of Use</font></center></h3><br>
     </div>
   </div>
 </div>
 <div class="container-fluid">
   <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12" style="padding: 50px;">       
       <ol>
        <li><strong><font color="#cc3333">VALIDITY OF USE</font></strong><br><br>
          Card is valid for use at all affiliate merchants of halalfoodhunt.com that bear the “We reward
          FRIENDS of halalfoodhunt.com” decal, and/or those that are listed on the rewards page on <a href="bitly.com/FRIENDS">bitly.com/FRIENDS</a> rewards. <br><br>
          The FRIENDS Rewards membership card must be presented to affiliate merchants BEFORE
          payment in order for the cardholder to be eligible for associated rewards.<br><br>
          We reserve the right to restrict access to some or all parts of this Website, and to withdraw or amend the Services without notice. We will not be liable if for any reason the Website is unavailable at any time or for any period.<br><br></li>
          <li><strong><font color="#cc3333">REWARDS</font></strong><br><br>
            Each of the participating merchants have pre‐determined the reward offered to cardholders,
            within their published terms and conditions here. Such rewards and their associated terms &
            conditions are non‐negotiable.<br><br>
            All rewards in the form of discounts are applicable BEFORE the provision of service charge and
            prevailing government taxes.<br><br>
            halalfoodhunt.com reserves the right to amend the terms and conditions of all rewards published
            on sg.halalfoodhunt.com without prior notice. <br><br></li>
            <li><strong><font color="#cc3333">VALIDITY DATE</font></strong><br><br>
              1 year from the date of issue.<br><br>
            <li><font color="#cc3333"><strong>CARD PURCHASING MODE</strong></font></li><br>
              The halalfoodhunt.com’s FRIENDS card can be purchased on a yearly subscription basis via the
              following methods:
              Online via friends.halalfoodhunt.com <br>
              - <i>Payment for purchases made through this site can be made via Credi/Debit card or Paypal or I-Bank Transfer</i><br><br>
              Walk‐in at selected locations, as listed on friends.halalfoodhunt.com<br>
              - <i>Payment for purchases by walk-in can be made via Cash.</i><br><br>
              <li><font color="#cc3333"><strong>PROCESSING LEADTIME</strong></font></li><br>
              Applications without the compulsory information duly completed will not be processed.
              Processing of the card will take 2 weeks after payment is made.
              Please call our Membership Hotline at 9235 6522 or email in to friends@halalfoodhunt.com immediately if you have not received the card after 2 weeks<br><br>
              <li><font color="#cc3333"><strong>LOSS / DAMAGE OR THEFT OF CARD</strong></font></li><br>
              There will be no card replacement services.
              Payment made is strictly non‐refundable.<br><br>
              <li><font color="#cc3333"><strong>NONTRANSFERABLE</strong></font></li><br>
              The FRIENDS Card is strictly non‐transferable and member must present identification as and
              when required.</li><br><br>
              <li><strong><font color="#cc3333">PERSONAL INFORMATION</font></strong></li><br>
              halalfoodhunt.com may use, collect and/or disclose your personal information that is necessary
              to verify your identity, process your membership card, deliver products and services to you, send
              out membership renewal reminders, analyse your preferences and inform you of upcoming promotions or events organised or co‐organised by halalfoodhunt.com.<br><br>
              halalfoodhunt.com may disclose your personal information to third party service providers in
              connection with the above, where necessary, under a duty of confidentiality to
              halalfoodhunt.com.<br>
              You may access and/or correct your personal information by calling our Membership Hotline at
              9235 6522 or emailing us at friends@halalfoodhunt.com.<br><br>
              <li><strong><font color="#cc3333">MARKETING INFORMATION</font></strong></li><br>
              halalfoodhunt.com may update you with information such as promotions, launch of new products
              and special events via direct mails, emails and text messages.<br><br>
              If you do not wish to receive our marketing mails, emails and text messages, you may opt out at any time by calling our Membership Hotline at 9235 6522, emailing us at friends@halalfoodhunt.com or selecting the unsubscribe option at the bottom of the messages.<br><br>
              <li><strong><font color="#cc3333">DISCRETION</font></strong></li><br>
              halalfoodhunt.com is entitled at any time in our absolute discretion without liability, without notice and without giving reason, to suspend or terminate your right to use the FRIENDS Card, to refuse to re‐issue or renew the card should any of the terms and privileges be abused.<br><br>
            </ol>
          </div>
        </div>
      </div>