<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h3>Welcome to <a href="http://sg.halalfoodhunt.com">sg.halalfoodhunt.com</a>, <%= @merchant.registered_business_name %></h3>
      
      <p>
         Thank you for signing up with us! <br><br>
      </p>
      
      <p>
         <a href="http://sg.halalfoodhunt.com">sg.halalfoodhunt.com</a> is a halal-verifications listings platform that helps users
find the right foods for the right occasion. Once listed, our active merchants can get access to limitless opportunities to collaborate with us to boost outreach to our FRIENDS and followers. 
      </p>
      
      <p>Yet to upload your listing? Click <a href="http://sg.halalfoodhunt.com/pages/merchant_dashboard">here</a> to get started!</p><br><br>
      
      <p>Happy Listing!<br>
      Team Halalfoodhunt</p>
      
   </body>
</html>