<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @verifying_type.name %>
</p>

<%= link_to 'Edit', edit_verifying_type_path(@verifying_type) %> |
<%= link_to 'Back', verifying_types_path %>
