<% @grocer_types.each do |grocer_type| %>
      <tr>
        <td class="col-md-1"><%= image_tag(grocer_type.icon.url(:square), :class => "img_circle") %></td>
        <td class="col-md-9"><%= grocer_type.name %></td>
        <td class="col-md-1"><%= link_to edit_grocer_type_path(grocer_type), remote: true do %>
          <i class="fa fa-pencil" style="color:white"></i><% end %>
        </td>
        <td class="col-md-1"><%= link_to grocer_type, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fa fa-trash-o" style="color:white"></i><% end %>
        </td>
      </tr>
<% end %>