<%= render 'layouts/header' %>
<div class="container-fluid friends-purchase">
	<div class="container container-table">
		<div class="row vertical-center-row">
			<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
				<center>
					<a href="http://halalfoodhunt.com"><img class="img-responsive" src="http://friends.jumaiyah.com/wp-content/uploads/2016/04/HFFH_LOGO_2106-small.png" alt="Chania"></a></center>
					<br>
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">Contact Us</h3>
					</div>
					<div class="panel-body">
						<%= render 'form' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>