<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @catering_type.name %>
</p>

<%= link_to 'Edit', edit_catering_type_path(@catering_type) %> |
<%= link_to 'Back', catering_types_path %>
