<div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h3>Delete Places Menu</h3>
  </div>
  <div class="modal-body">
  <ul class="errors"></ul>
  Are you sure you wish to delete <b><%= @places_menu.name %></b>?
  </div>
  <div class="modal-footer">
    <%= link_to "Delete", places_menu_path(@places_menu), method: :delete, remote: true, class: "btn btn-danger" %>
    <%= link_to "Cancel", "#", class: "btn btn-default", data: { dismiss: "modal" } %>
  </div>
  </div>
</div>