<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-6 col-md-4"><h5><legend>PAYMENT DETAILS</legend></h5> <p>Fill in your payment details to subscribe to a plan. <br><br><i>Don't worry! Your card will not be charged if you are on the <strong> FREE</strong> plan.</i></p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
   <% content_for :koudoku do %>
   <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
   <% end %>
   <%= bootstrap_form_for @subscription, url: url, html: {id: 'payment-form', class: 'form-horizontal'} do |f| %>
   <fieldset>
    <div class="form-group">
      <label class="control-label">Card Number</label>
      <div class="controls">
        <input type="text" size="20" autocomplete="off" class="form-control card-number"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Expiration (MM/YYYY)</label>
      <div class="controls">
        <div class="col-md-6 col-sm-6 col-md-1 col-lg-2" style="padding-left:0;">
        <input type="text" size="2" class="form-control card-expiry-month input-mini"/>
        </div>
        <div class="col-md-6 col-sm-6 col-md-1 col-lg-1" style="padding:0;"><center><h1 style="color:#22211d; margin-top:0;"> / </h1></center></div>
        <div class="col-md-6 col-sm-6 col-md-2 col-lg-2" style="padding-left:0;">
        <input type="text" size="4" class="form-control card-expiry-year input-mini"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">CVC</label>
      <div class="controls">
        <div class="col-md-6 col-sm-6 col-md-1 col-lg-2" style="padding-left:0;">
        <input type="text" size="4" autocomplete="off" class="form-control card-cvc input-small"/>
        </div>
      </div>
    </div>
    <div class="alert alert-error payment-errors"></div>
    <%= f.hidden_field :plan_id %>
  </fieldset>
  <br>
  <div class="form-group">
    <div class="controls">
      <% if Koudoku.free_trial? %>
      <button type="submit" class="btn btn-primary submit-button">Save Billing Information</button>
      <% else %>
      <button type="submit" class="btn btn-primary submit-button">Pay Now</button>
      <% end %>
      <%= link_to "Cancel", owner_subscriptions_path(@owner), class: 'btn' %>
    </div>
  </div>
  <% end %>
</div>    
<script type="text/javascript">

  // All this code taken from Stripe's own examples at:
  // https://stripe.com/docs/tutorials/forms .
  
  function stripeResponseHandler(status, response) {

    if (response.error) {
          // show the errors on the form
          $(".payment-errors").text(response.error.message).show();
          $(".submit-button").removeAttr("disabled");
        } else {
          var form$ = $("#payment-form");
          // token contains id, last4, and card type
          // insert the token into the form so it gets submitted to the server
          form$.append("<input type='hidden' name='subscription[credit_card_token]' value='" + response['id'] + "'/>");
          form$.append("<input type='hidden' name='subscription[last_four]' value='" + response['last4'] + "'/>");
          form$.append("<input type='hidden' name='subscription[card_type]' value='" + response['card_type'] + "'/>");
          // and submit
          form$.get(0).submit();
        }
      }

      $(document).ready(function() {

        Stripe.setPublishableKey("<%= Koudoku.stripe_publishable_key %>");

    // By default, don't show errors.
    $(".payment-errors").hide()
    
    $("#payment-form").submit(function(event) {

      // disable the submit button to prevent repeated clicks
      $('.submit-button').attr("disabled", "disabled");

      Stripe.createToken({
        number: $('.card-number').val(),
        cvc: $('.card-cvc').val(),
        exp_month: $('.card-expiry-month').val(),
        exp_year: $('.card-expiry-year').val()
      }, stripeResponseHandler);

      // prevent the form from submitting with the default action
      return false;
    });
  });
      </script>
