<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @delivery_location.name %>
</p>

<%= link_to 'Edit', edit_delivery_location_path(@delivery_location) %> |
<%= link_to 'Back', delivery_locations_path %>
