<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food_delivery_type.name %>
</p>

<%= link_to 'Edit', edit_food_delivery_type_path(@food_delivery_type) %> |
<%= link_to 'Back', food_delivery_types_path %>
