 <% @supplier_types.each do |supplier_type| %>
 <tr>
    <td class="col-md-1"><%= image_tag(supplier_type.icon.url(:square), :class => "img_circle") %></td>
  <td class="col-md-9"><%= supplier_type.name %></td>
  <td class="col-md-1"><%= link_to edit_supplier_type_path(supplier_type), remote: true do %>
    <i class="fa fa-pencil" style="color:white"></i><% end %>
  </td>
  <td class="col-md-1"><%= link_to supplier_type, method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class="fa fa-trash-o" style="color:white"></i><% end %>
  </td>
</tr>
<% end %>