<%= render 'layouts/header' %>
<div style="padding:60px 0 60px 0" class="container-fluid suppliers">
  <div class="col-md-8 col-md-offset-2" style="background:rgba(0,0,0,0.5); margin-top:60px;">
      <h3 class="form-subtitle" style="color:#c2a476;">Find out who our FRIENDS are. </h3>
      <p class="sub-header" style="font-size:20px; color:#fff;">And get rewards from our FRIENDS.</p><br><br>
      <%= render 'advanced_search' %>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
   <div class="row">
    <div class="col-md-11" style="padding-top:40px"><h5 style="padding:20px 0">SHOWING <b><%= @suppliers.count %></b> Halal establishments IN ALL CITIES, SINGAPORE</h5></div>
    <div class="col-md-1" style="padding-top:40px">
     
    </div>
  </div>
  <div class="container">
    <div class="row">
      <%= render 'suppliers' %>
    </div>
  </div>
</div>