<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/merchant_sidebar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="padding:0;">
      <%= render 'layouts/topbar' %>
      <div class="col-md-10 col-md-offset-1" style="background:white; border:1px solid #ccc; padding:10px;">
        <center><h4>You have chosen to list under<strong> Suppliers</strong>!</h4><p class="italic-font" style="font-weight:400;">Listing under <strong>Suppliers</strong> indicates that your business provides specific <u>products in bulk.</u>
        </p></center>
      </div>
      <div class="col-md-10 col-md-offset-1">
      <%= render 'form' %>
    </div>
  </div>
</div>
</div>