<% @highlights.each do |highlight| %>
 <tr>
  <td class="col-md-1"><%= image_tag(highlight.icon.url(:square), :class => "img_circle") %></td>
  <td class="col-md-9"><%= highlight.name %></td>
  <td class="col-md-1"><%= link_to edit_highlight_path(highlight), remote: true do %>
    <i class="fa fa-pencil" style="color:brown"></i><% end %>
  </td>
  <td class="col-md-1"><%= link_to highlight, method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class="fa fa-trash-o" style="color:brown"></i><% end %>
  </td>
</tr>
<% end %>