<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grocer_service_type.name %>
</p>

<%= link_to 'Edit', edit_grocer_service_type_path(@grocer_service_type) %> |
<%= link_to 'Back', grocer_service_types_path %>
