  <div class="col-xs-12 col-sm-4 col-md-4">
  <%= f.time_field :opening %>
  <%= f.check_box :_destroy %>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4">
  <%= f.time_field :closing %>
  <%= f.check_box :_destroy %>
  </div>