 <%= search_form_for @search do |f| %>
  <div class="col-md-10" style="margin-top:50px;"><div class="form-group" style="margin-bottom: 0; background: rgba(255,255,255,1); color:black;">
  <%= f.text_field :business_name_or_operating_address_or_question_1_cont, class: "form-control" %>
  </div></div>
  <div class="col-md-2" style="padding-left:0; padding-right:0; margin-top:50px;">
    <%= f.submit "Search", class: "btn btn-block btn-raised btn-danger" %>
  </div>
  <% end %>