<div class="container-fluid merchant_dashboard">
  <%= render 'layouts/merchant_sidebar' %>
  <%= render 'layouts/merchant_topbar' %>
 <div style="background:rgba(255,255,255,0.6);" class="col-md-10 col-md-offset-1 form-style">
   <%= render 'form' %>
 </div>
</div>
