<%= render 'layouts/merchant_header' %>
<div class="container">
 <div class="row bs-wizard" style="margin-top:80px; background:#fff; border: 1px solid #ccc;">
  <h3><center>MERCHANT REGISTRATION</center></h3>
  <div class="col-xs-3 bs-wizard-step complete">
    <div class="progress"><div class="progress-bar"></div></div>
    <a href="#" class="bs-wizard-dot"></a>
    <div class="bs-wizard-info text-center"><h5>CREATE AN ACCOUNT</h5></div>
  </div>

  <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
    <div class="text-center bs-wizard-stepnum"></div>
    <div class="progress"><div class="progress-bar"></div></div>
    <a href="#" class="bs-wizard-dot"></a>
    <div class="bs-wizard-info text-center"><h5>ABOUT YOUR BUSINESS</h5></div>
  </div>

  <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
    <div class="text-center bs-wizard-stepnum"></div>
    <div class="progress"><div class="progress-bar"></div></div>
    <a href="#" class="bs-wizard-dot"></a>
    <div class="bs-wizard-info text-center"><h5>SUBSCRIBE</h5></div>
  </div>

  <div class="col-xs-3 bs-wizard-step active"><!-- active -->
    <div class="text-center bs-wizard-stepnum"></div>
    <div class="progress"><div class="progress-bar"></div></div>
    <a href="#" class="bs-wizard-dot"></a>
    <div class="bs-wizard-info text-center"><h5 style="color:#22211d; font-weight:700;">CREATE LISTING</h5></div>
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin:20px 0 20px 0;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background:white; border:1px solid #ccc; padding:10px;">
    <center><h4>You have chosen to list a Halal Food<strong> Place</strong>!</h4><p class="italic-font" style="font-weight:400;">Listing a halal food place indicates that your business has a physical place where the customers can visit.<br>
      It’s important to fill in all the details to get more views on your listing.
    </p></center>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= render 'form' %>
  </div>
</div>
