    <div class="container-fluid">
<nav class="navbar navbar-inverse" style="border-radius:0px; margin-bottom:0px;">
     <ul class="nav navbar-nav navbar-right">
      <li><a href="http://sg.halalfoodhunt.com/pages/getting_listed">Merchant Listing</a></li>
      <li><a href="http://halalfoodhunt.com/terms-of-use/">Terms of Use</a></li>
      <li><a href="http://halalfoodhunt.com/privacy-policy/">Privacy Policy</a></li>
      <li><a href="http://halalfoodhunt.com/feedback/">Feedback</a></li>
      <li><a href="http://halalfoodhunt.com/friends">Friends</a></li>
    </ul>
</nav>
  </div>