<div class="infobox text-center">
	<%= image_tag supermarket.logo.url(:medium), :class => "img-circle" %>
		<h6><%= link_to supermarket.brand_name, supermarket_path(supermarket) %></h6>
	<p><%= supermarket.operating_address %></p>
</div>