<div class="container-fluid unauthorised-full-height">
    <center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/11/404.png" class="img-responsive" alt="unauthorised"></center>
</div>