<div class="container-fluid unathorised-full-height">
    <center><img src="https://files.slack.com/files-pri/T1PS8R5TN-F3MN75GJ3/unauthorised_page.png" class="img-responsive" alt="unauthorised" style="width:720px; height:540px;"></center>
</div>